/**
* * Symbiota Redesign - variables.css
* * Version: September 2022
* * Author: Laura Rocha Prado
* * Author URI: http://laura.rochaprado.com
* * License: GNU General Public License v2 or later
* * License URI: http://www.gnu.org/licenses/gpl-2.0.html 
*/

/* Variables
   ========================================================================== */
:root {
  --header-bg-image: url('../../../images/layout/Berivotra_cropped.jpg');
  --header-bg-color: #2121216e; /** Transparent color if adding header bg-image **/
  --header-font-color: #fff;
  --brand-font-size: 2rem;
  --title-font-family: 'Averia Serif Libre', serif;
  --logo-width: 120px;
  --menu-top-bg-color: #37464E;
  --body-bg-color: #fafafa;
  --body-text-color: #000000;
  --body-font-size: 1.2rem;
  --body-font-family: 'Roboto', sans-serif;
  --footer-bg-color: #DBE2E6;
  --heading-font-family: 'Roboto', sans-serif;
  --link-color: #886E60;
  --darkest-color: #0E1113;
  --medium-color: #455761;
  --light-color: #6E8B9B;
  --bright-color: #8B9B6E;
  --max-innertext-width: 1024px;
}
