transform: rotate(-90deg) translate(-100%);transform-origin: top left;position: absolute;left: 0;display: block;text-align: right;margin-bottom: 2px;font:bold 7pt arial,sans-serif;clear: both;white-space: nowrap;


transform: rotate(-90deg);transform-origin: top left;float:left; margin:0 0 0 0;font:bold 7pt arial,sans-serif;clear: both;white-space: nowrap;