/* Variables
   ========================================================================== */
:root {
  --header-bg-image: url('https://github.com/GuatemalaPortal/guatemalaportal.github.io/blob/main/static/portal/Pluma_SaraLRios.jpg?raw=true');
  --header-bg-color: #0b523ed4; /** Transparent color if adding header bg-image **/
  --header-font-color: #fff;
  --brand-font-size: 2rem;
  --logo-width: 120px;
  --menu-top-bg-color: #1b3d2f;
  --menu-font-size: 1rem;
  --body-bg-color: #fafafa;
  --body-text-color: #000000;
  --body-font-size: 1rem;
  --body-font-family: "Roboto", sans-serif;
  --footer-bg-color: #f2f0e9;
  --heading-font-family: "Open Sans", sans-serif;
  --link-color: #126c00;
  --darkest-color: #074d30;
  --medium-color: #5a5a53;
  --light-color: #f2f0e9;
  --bright-color: #21b7a5;
  --danger-color: #b31b1b;
  --max-innertext-width: 1024px;
}
